.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.phone-picture {
  height: 300px;
  width: 300px;
  object-fit: contain;
}

.phone-container {
  background-color: white;

  width: 350px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
}

.phone-name {
  padding: 16px;
  font-size: 28px;
  margin-bottom: 0px;

  font-weight: bold;
}

.phone-company {
  padding: 16px; 
  font-size: 22px;
  color: grey;
  /* font-weight: bold; */
   margin-top: 0px; 
}

body {
  background-color: whitesmoke;
  font-family: Roboto;
  margin: 16px;
}

.phone-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 24px;
}

.login-form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  margin: 0px auto;
}
